<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{ page.title }} - {{ site.title }}</title>

    <!-- Favicon -->
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="{{ site.baseurl }}/assets/favicon/favicon32.png"
    />
    <link
      rel="manifest"
      href="{{ site.baseurl }}/assets/favicon/site.webmanifest"
    />
    <link rel="shortcut icon" href="{{ site.baseurl }}/favicon.ico" />

    <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/style.css" />
  </head>
  <body>
    {{ content }}
  </body>
</html>
